/* CSS Document */
#container{
	width:760px;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	position: absolute;
	top: 30%;
	left:31%;
	box-sizing: border-box;
    border: 1px solid rgb(233,233,233);
    text-align: left;
    border-radius: 35px;
    color: #000000;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	height: fit-content;
}
.login{
	overflow:hidden;
	padding:5px;
}
.login table{
	float:right;
}

#signinuser{
	font-size: 100px;
	font-weight:bolder;
	float:left;
}

#signupuser{
	font-size: 100px;
	font-weight:bolder;
	float:left;
}

.form{
	overflow:hidden;
	padding:5px;
}
.form table{
	margin-top:15px;
	float:right;
}
#email, #pw, #cpw{
	width:317px;
	padding:5px;
}
#fname, #lname{
	width:150px;
	padding:5px;
}
#submit{
	width:140px;
	padding:5px;
}
#submit:hover{
	background:#01A9DB;
	border-radius:5px;
}


h1{
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#333;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
h2{
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#F00;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
h3{
	border:1px solid #f0f0f0;
	font:"Courier New", Courier, monospace;
	font-size:14px;
	color:#666;
	padding:3px;
	margin:0px;
}
#login_email, #login_password{
	width:150px;
	padding:5px;
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
}